* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #202124;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 30px;
}

input[type="text"] {
  width: 560px;
  height: 41px;
  border-radius: 20px;
  border: 1px solid gray;
  background: transparent;
  color: white;
  padding-left: 30px;
  font-size: 20px;
}

input[type="submit"] {
  margin-left: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: rgb(195, 34, 45);
  color: yellow;
}

.panel {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
}

.panel a {
  color: white;
}
